/*This element changes the default width and height for the website suitable
for laptop screens and changes the font to use Lato. */
body {
    
    width: 1024px;
    height: 768px;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif
}

/*This element changes the dimensions off the logo and adjusts the positioning */
.logo {
    width: 200px;
    height: 160px;
    position: absolute; left: 10px; top: 5px;
}

/*changes the positioning for titlone. */
.titleone {
    position: absolute; left: 300px; top:40px;
}

/*positoning for titletwo */
.titletwo {
    position: absolute; left: 545px; top: 40px;
}

/* positioning for user logged in. */
.admin {
    position: absolute; left: 850px; top: 20px;
}

/* Positioning for Horizontal line to seperate header and body */
.hrnav {
    margin-top: 175px;
}

/*Positioning for navigation menu*/
#navigation {
    position: absolute; left: 245px; top: 100px;
}

/* Styling for buttons */
.btn, .admin{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

/* Styling for buttons on hover */
.btn:hover, .admin:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/* Styling for labels */
label {

    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.025rem;
    font-style: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3498db;
    border-radius: 0rem;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    padding: 0.35rem 0.5rem;
    border-style: none;
    border-width: 0rem;
    border-color: #EF2D56;
    -webkit-box-shadow: inset 32px -8px 0px -16px rgba(51,51,51,1);
    -moz-box-shadow: inset 32px -8px 0px -16px rgba(51,51,51,1);
    -box-shadow: inset 32px -8px 0px -16px rgba(51,51,51,1);
    
    }

/* Align text to center */    
h2 {
    text-align: center;
}

/* Align text to center */
form {
    text-align: center;
}

/* Adjust website for screens with a maximum width off 376px (Mobiles) */
@media screen and (max-width: 376px){
    
/* Hide navigation menu */    
    #navigation {
        visibility: hidden;
    }

/* Hide login button */
    .admin {
        visibility: hidden;
    }

/* Change positioning and dimensions off logo */
    .logo {
        position: absolute; left: 260px; top: -80px;
        width: 600px;
        height: 400px;
    }

/* Change positioning, maximum width and font size */
    .titleone {
        position: absolute; top: 250px; left: 380px;
        width: 375px;
        font-size: 50px;
    }

/* Change positioning, maximum width and font size */
    .titletwo {
        position: absolute; top: 340px; left: 420px;
        width: 375px;
        font-size: 50px;
    }

/* Adjust position of horizontal line to seperate header and main body */
    .hrnav {
        margin-top: 475px;
    }

/* adjust font size and with for h2 */
    h2 {
        font-size: 45px;
        width: 500px;    
    }
    
/* adjust positioning for main body */
    main  {
        position: absolute; top: 500px; left: 150px;
    }

/* Everything below adjusts for font size suitable for mobile screens */
    form {
        font-size: 10vw;
    }

    label {
       font-size: 9vw;
    }

    input {
        font-size: 10vw;
    }

    .btn {
        font-size: 12vw;
    }

    .texta {
        font-size: 9vw;
    }

}


